python-dotenv
fastapi
pydantic
uvicorn[standard]
beautifulsoup4
requests
requests-html
lxml_html_clean
ibis-framework
pandas
aiohttp
asyncio
playwright
playwright-stealth
pybloom-live==3.1.0
asyncpg>=0.27.0
psycopg2-binary>=2.9.0
aiohttp